@using TEJ0017_FakturacniSystem.Models.Subject
@model TEJ0017_FakturacniSystem.Models.Document.Item

@{
    ViewData["Title"] = "Nová položka ceníku";
    var ourCompany = ViewData["OurCompany"] as OurCompany;
}

<h1><i class="bi bi-tags-fill"></i> Nová položka ceníku</h1>
<hr />

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            @ViewData["ErrorMessage"]
        </div>
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="Price" type="number" placeholder="0,00" step="0.01" min="0" class="form-control" />
                    <div class="input-group-text">Kč</div>
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="Price" type="number" placeholder="0,00" step="0.01" min="0" class="form-control" />
                    <div class="input-group-text">Kč</div>
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultUnit" class="control-label"></label>
                <input asp-for="DefaultUnit" class="form-control" value="@ourCompany.DefaultMJ" />
                <span asp-validation-for="DefaultUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group d-flex basicElementPadding">
                    <div class="ms-auto" style="padding-right: 10px;">
                        <a asp-action="Index" class="btn btn-secondary"><i class="bi bi-arrow-left-circle"></i> Storno</a>
                    </div>
                    <div>
                        <input type="submit" value="Vytvořit položku" class="btn btn-primary" />    
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>