@model IEnumerable<TEJ0017_FakturacniSystem.Models.Invoice.Invoice>

@{
    ViewData["Title"] = "Faktury";
}

<h1>Faktury</h1>

<p>
    <a asp-action="CreateVat">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InvoiceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InvoiceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InvoiceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
