@{
    ViewData["Title"] = "login";
}

<h1>Nastavení aplikace</h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="application-tab" data-bs-toggle="tab" data-bs-target="#application" type="button" role="tab" aria-controls="application" aria-selected="true">Aplikace</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="user-tab" data-bs-toggle="tab" data-bs-target="#user" type="button" role="tab" aria-controls="contact" aria-selected="false">Uživatel</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="company-tab" data-bs-toggle="tab" data-bs-target="#company" type="button" role="tab" aria-controls="company" aria-selected="true">Firma</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="paymentMethods-tab" data-bs-toggle="tab" data-bs-target="#paymentMethods" type="button" role="tab" aria-controls="paymentMethods" aria-selected="false">Platební metody</button>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="application" role="tabpanel" aria-labelledby="application-tab">
        <h2>Nastavení aplikace</h2>
        <h3>Vzhled</h3>
        <h3>Export dokladu</h3>
    </div>

    <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab">
        <h2>Uživatel</h2>
    </div>

    <div class="tab-pane fade" id="company" role="tabpanel" aria-labelledby="company-tab">
        <h2>Údaje o firmě</h2>
    </div>

    <div class="tab-pane fade" id="paymentMethods" role="tabpanel" aria-labelledby="paymentMethods-tab">
        <h2>Platební metody</h2>
        <button type="button" class="btn btn-primary" onclick="showModal()">Launch demo modal</button>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
