@model TEJ0017_FakturacniSystem.Models.Subject.OurCompany

@{
    ViewData["Title"] = "Fakturační údaje";
}

<h1><i class="bi bi-gear"></i> Nastavení</h1>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/Settings/OurCompanyEdit">Fakturační údaje</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/PaymentMethods">Platební metody</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/BankDetails">Bankovní účty</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Settings/DocumentSettings">Náležitosti dokladu</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Settings/EmailTemplate">Šablona E-mailu</a>
    </li>
</ul>

<br />
<h2><i class="bi bi-building"></i> Fakturační údaje</h2>
<hr />

<div class="alert alert-danger d-flex align-items-center" id="msgErrDiv" style="display: none !important" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div id="msgErrText"></div>
</div>

<div class="alert alert-success d-flex align-items-center" id="msgInfoDiv" style="display: none !important" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
  <div id="msgInfoText"></div>
</div>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            @ViewData["ErrorMessage"]
        </div>
    </div>
}

@if (ViewData["SuccessMessage"] != null)
{
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
            @ViewData["SuccessMessage"]
        </div>
    </div>
}


<form asp-action="OurCompanyEdit">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-6">
                <h4>Subjekt</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" type="text" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="form-group col-md-8">
                        <label asp-for="Ico" class="control-label"></label>
                        <input asp-for="Ico" id="SubjectIco" type="number" class="form-control" />   
                    </div>
                    <div class="form-group col">
                        <label></label>
                        <button type="button" class="btn btn-primary form-control" onclick="getDataFromAresByIco()" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Získání informací o subjektu z databáze ARES"><i class="bi bi-arrow-repeat"></i> ARES</button>
                    </div>
                    <span asp-validation-for="Ico" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Dic" class="control-label"></label>
                    <input asp-for="Dic" id="SubjectDic" class="form-control" />
                    <span asp-validation-for="Dic" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsVatPayer" id="SubjectDicCheckBox" />Jsme plátci DPH
                    </label>
                </div>

                <br />
                <h4>Sídlo</h4>
                <div class="form-group">
                    <label asp-for="Address.Street" class="control-label"></label>
                    <input asp-for="Address.Street" id="SubjectStreet" class="form-control" />
                    <span asp-validation-for="Address.Street" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address.HouseNumber" class="control-label"></label>
                    <input asp-for="Address.HouseNumber" id="SubjectHouseNumber" class="form-control" />
                    <span asp-validation-for="Address.HouseNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address.City" class="control-label"></label>
                    <input asp-for="Address.City" id="SubjectCity" class="form-control" />
                    <span asp-validation-for="Address.City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address.Zip" class="control-label"></label>
                    <input asp-for="Address.Zip" id="SubjectZip" class="form-control" />
                    <span asp-validation-for="Address.Zip" class="text-danger"></span>
                </div>
                <div class="form-group" onload="getStatesFromApi">
                    <label asp-for="Address.State" class="control-label"></label>
                    <select asp-for="Address.State" class="form-select" id="stateSelector">
                        <option value="Česká Republika" selected>Česká Republika</option>
                        <option value="Slovenská republika">Slovenská republika</option>
                    </select>
                    <span asp-validation-for="Address.State" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <h4>Kontaktní údaje</h4>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" type="email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telephone" class="control-label"></label>
                    <input asp-for="Telephone" type="tel" class="form-control" />
                    <span asp-validation-for="Telephone" class="text-danger"></span>
                </div>

                <br />
                <h4>Další možnosti</h4>
                <div class="form-group">
                    <label class="control-label">Webová stránka</label>
                    <input name="WebPage" value="@ViewData["WebPage"]" type="text" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="form-group d-flex basicElementPadding">
                    <div class="ms-auto">
                        <input type="submit" value="Uložit změny" class="btn btn-primary" />    
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script src="~/js/aresSearchFunctions.js" asp-append-version="true"></script>

<!--Tooltip trigger-->
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl)
    {
    return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>