@model TEJ0017_FakturacniSystem.Models.Document.Document

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Document</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DocumentId" />
            <div class="form-group">
                <label asp-for="VariableSymbol" class="control-label"></label>
                <input asp-for="VariableSymbol" class="form-control" />
                <span asp-validation-for="VariableSymbol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConstantSymbol" class="control-label"></label>
                <input asp-for="ConstantSymbol" class="form-control" />
                <span asp-validation-for="ConstantSymbol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueDate" class="control-label"></label>
                <input asp-for="IssueDate" class="form-control" />
                <span asp-validation-for="IssueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxDate" class="control-label"></label>
                <input asp-for="TaxDate" class="form-control" />
                <span asp-validation-for="TaxDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPaid" /> @Html.DisplayNameFor(model => model.IsPaid)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="headerDescription" class="control-label"></label>
                <input asp-for="headerDescription" class="form-control" />
                <span asp-validation-for="headerDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="footerDescription" class="control-label"></label>
                <input asp-for="footerDescription" class="form-control" />
                <span asp-validation-for="footerDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

