@model TEJ0017_FakturacniSystem.Models.User.User

@{
    ViewData["Title"] = "Nový uživatel";
}

<h1><i class="bi bi-people-fill"></i> Nový uživatel</h1>
<hr />
@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            @ViewData["ErrorMessage"]
        </div>
    </div>
}

<div class="col-md-10">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col">
                <h4>Uživatelské údaje</h4>
                <div class="form-group">
                    <label class="control-label">Typ uživatele</label>
                    <select class="form-select" name="AccountType">
                        <option value="admin" selected>Administrátor</option>
                        <option value="purser">Účetní</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Login" class="control-label"></label>
                    <input asp-for="Login" class="form-control" />
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Surname" class="control-label"></label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" type="email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telephone" class="control-label"></label>
                    <input asp-for="Telephone" class="form-control" type="tel" />
                    <span asp-validation-for="Telephone" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <h4>Zabezpečení</h4>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PasswordVerify" class="control-label"></label>
                    <input asp-for="PasswordVerify" class="form-control" type="password" />
                    <span asp-validation-for="PasswordVerify" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group d-flex basicElementPadding">
                <div class="ms-auto" style="padding-right: 10px;">
                    <a class="btn btn-secondary" asp-action="Index"><i class="bi bi-arrow-left-circle"></i> Storno</a>
                </div>
                <div>
                    <input type="submit" value="Vytvořit uživatele" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>
