@model TEJ0017_FakturacniSystem.Models.User.User

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="cs">

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Přihlášení | Faktura.cz</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">403</h1>
        <div class="inline-block align-middle">
    	    <h2 class="font-weight-normal lead" id="desc">Forbidden</h2>
        </div>
    </div>
</body>
</html>


