html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.loginPageDiv
{
    max-width: 500px;
    margin: 10% auto;
}

.basicElementPadding
{
    padding-top: 25px;
}

.actionButtonsWidth div a
{
    min-width: 150px;
    color: darkblue;
    margin: 5px;
}