html
{
  font-size: 14px;
}

@media (min-width: 768px)
{
  html
  {
    font-size: 16px;
  }
}

html
{
  position: relative;
  min-height: 100%;
}

body
{
  margin-bottom: 60px;
}

.loginPageDiv
{
    max-width: 500px;
    margin: 10% auto;
}

.basicElementPadding
{
    padding-top: 25px;
}

.actionButtonsWidth div a
{
    min-width: 150px;
    color: darkblue;
    margin: 5px;
}

.actionButtonsWidth
{
    width: fit-content;
    margin: auto;
}


@media only screen and (max-width: 600px)
{
    .nav-tabs li
    {
        width: 100%;
        text-align: center;
        font-weight: bold;
    }

    .nav-tabs li a.nav-link.active {
        background-color: lightgray;
        border: 0px;
    }
}

@media only screen and (max-width: 1000px)
{
    .actionButtonsWidth div a
    {
        width: 100%;
    }
}